# Environment variables
.env
#chinlit dependencies 
.chainlit
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

#mislenious
README.old.md
chainlit.md